* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* 
.navbar-collapse {
  background-color: red;
  flex-basis: 20%;
  flex-grow: 0;

  flex-shrink: 0;
} */

/* Navbar */
.fa-film {
  font-size: 2rem;
}

.navbar-brand {
  font-size: 1.6rem;
  color: #696969 !important;
}
.navbar-brand:hover {
  color: #2d9e91 !important;
}

.nav-link {
  font-size: 1.2rem;
  margin: 0 0 0 1.6rem;
  border-bottom: 3px solid transparent;
}

.menu-1-active,
.menu-1:hover {
  border-color: #0d6efd;
}
.menu-2-active,
.menu-2:hover {
  border-color: #ed4e50;
}
.menu-3-active,
.menu-3:hover {
  border-color: #198754;
}
.menu-4-active,
.menu-4:hover {
  border-color: #ece032;
}

.navbar-nav a:hover {
  color: #2d9e91 !important;
}

/* Search box */
.search-from {
  background-image: url(../img/hero.jpg);
  min-height: 200px;
  background-position: center 60%;
  background-size: cover;
}

.search-from form {
  width: 450px;
  margin: 20px 0;
}

/* Input- Page of 200 */
.pageInput > input {
  width: 40px;
  text-align: center;
}

/* photos*/
figure {
  overflow: hidden;
}
.card {
  border: none;
}

.card img {
  border-radius: 0;
  width: 100%;
}

.item-name {
  text-transform: uppercase;
  opacity: 1;
  z-index: 5000;
  /* padding: 2.5rem 4.5rem; */
  /* background-color: rgba(0, 0, 0, 0.295); */
}

.item-link > a {
  color: transparent;
  width: 80%;
  height: 80%;
}

.item-link,
.item-link:link,
.item-link:visited {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.322);
  transform: scale(1.2, 1.3);
  transition: all 0.2s;
}

.item-link:hover {
  opacity: 1;
  transform: scale(1, 1);
}

.item-link::before {
  content: "";
  /* background-color: rgba(255, 0, 0, 0.918); */
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border: 1px solid white;
}

/* Pagenation */
.page-item .page-link {
  border-radius: 0.25rem;
}

.page-item.next-page {
  justify-content: flex-end;
}

/* Footer */
footer .row:first-child {
  padding: 3rem 10rem 2rem 10rem;
}

footer .row:last-child {
  padding: 0 10rem 2rem 10rem;
}

footer a:hover {
  color: #2d9e91 !important;
}

.footer-small-box {
  justify-content: flex-end;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-pinterest {
  background-color: #fff;
  padding: 1rem;
  margin: 0 8px 0 0;
  transition: all 0.3s;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-pinterest:hover,
.fa-linkedin:hover {
  background-color: #2d9e91;
  color: #fff !important;
}

.p-left {
  padding-left: 4rem;
}

.text-copyright {
  text-align: left;
}

.text-design {
  text-align: right;
}

/* Section- contact-info */
/* contact submit */
button[type="submit"] {
  /* padding: 1rem 3.5rem; */
  border: none;
  background-color: #2d9e91;
}

button[type="submit"]:hover {
  background-color: #22796f;
}

/* Address */
.fa-envelope,
.fa-phone,
.fa-globe {
  margin-right: 1rem;
}

.contact-list li a {
  color: rgba(0, 0, 0, 0.5);
}
.contact-list li a:hover {
  color: #2d9e91;
}

/* Location */
iframe {
  width: 100%;
  height: 430px;
  border: none;
}

/* Section-people-info */
.fa-dark {
  background-color: rgb(241, 241, 241);
}

.fa-linkedin {
  padding: 1rem;
  margin: 0 8px 0 0;
  transition: all 0.3s;
}

/* Button color */
.btn-light {
  background-color: #eee;
}
/* Text color */
.heading-green {
  color: #2d9e91;
}

.heading-pink {
  color: #e78cba;
}

.text-lihgt-grey {
  color: #cccbcb;
}

/* Background color */
.bg-grey-dark {
  background-color: #eee;
}

/* Spacing */
.m-bottom-lg {
  margin-bottom: 4.5rem;
}

@media only screen and (max-width: 1200px) {
  /* Footer */
  footer .row:first-child {
    padding: 3rem 4rem 2rem 4rem;
  }
  footer .row:last-child {
    padding: 0 4rem 2rem 4rem;
  }
}

@media only screen and (max-width: 990px) {
  /* Footer */
  .p-left {
    padding-left: 0.8rem;
  }

  .text-copyright,
  .text-design {
    text-align: center;
  }

  .navbar-collapse {
    position: absolute;
    top: 64px;
    right: 0;
    padding: 0.5rem 1.5rem;
    margin: 0;
    background-color: #f8f9fa;
  }

  .menu-1,
  .menu-2,
  .menu-3,
  .menu-4 {
    margin: 0;
  }
}

@media only screen and (max-width: 700px) {
  /* Pagenation */
  .page-item,
  .page-item.next-page {
    justify-content: center;
  }
}

@media only screen and (max-width: 580px) {
  /* Search bar */
  .search-from form {
    max-width: 350px;
  }
  /* Photos */
  h1.heading-green {
    font-size: 1.5rem;
  }
  /* Footer */
  .footer-small-box {
    justify-content: flex-start;
  }

  .fa-facebook {
    margin: 0;
  }
  .text-align-left {
    text-align: start;
  }
}
