* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

figure {
  overflow: hidden;
}

/* Search box */
.search-from {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center 60%;
  min-height: 200px;
}

.search-from form {
  width: 35%;
  margin: 20px 0;
}

/* Input- Page of 200 */
.pageInput > input {
  width: 8%;
  text-align: center;
}

/* photos*/
.card {
  border: none;
}

.card img {
  border-radius: 0;
  width: 100%;
}

.item-name {
  text-transform: uppercase;
  opacity: 1;
  z-index: 5000;
  /* padding: 2.5rem 4.5rem; */
  /* background-color: rgba(0, 0, 0, 0.295); */
}

.item-link > a {
  color: transparent;
  width: 80%;
  height: 80%;
}

.item-link,
.item-link:link,
.item-link:visited {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.322);
  transform: scale(1.2, 1.3);
  transition: all 0.2s;
}

.item-link:hover {
  opacity: 1;
  transform: scale(1, 1);
}

.item-link::before {
  content: "";
  /* background-color: rgba(255, 0, 0, 0.918); */
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border: 1px solid white;
}

/* Background color */
.bg-grey--dark {
  background-color: #eee;
}
